*	{
	margin: 0;
	padding: 0;
}
body	{
	font-family: "Helvetica", "Trebuchet MS", sans-serif;
	background: #FFF url(../img/bg.png);
	margin: 15px;
}
#container	{
	background: #EDE9CC url(../img/bg-container.png) top center repeat-y;
	margin: 0 auto;
	min-width: 740px;
	max-width: 1180px;
}
#topo	{
	position: relative;
	background: #DBCD87;
	height: 15.4em;
	min-height: 250px;
}
#area-logo	{
	position: absolute;
	background: url(../img/topo-imagem-principal.png) no-repeat;
	top: 0;
	left: 0;
	width: 100%;
	height: 250px;
	z-index: 1;
}
.logo a {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 3;
	background: url(../img/logo.png) no-repeat;
	width: 151px;
	height: 66px;	
	text-indent: -9000px;
}
#area-menu	{
	position: absolute;
	top: 0;
	right: 0;
	background: url(../img/topo-imagem-lateral.png) no-repeat;
	width: 450px;
	height: 250px;
	z-index: 2;
}
#conteudo-menu	{
	margin-left: 90px;
	margin-right: 15px;
	padding-top: 15px;

}
#menu-locais  {
	border-bottom: 1px solid #B5AB56;/*Cor, tipo e expessura da borda inferior*/
   	border-top: 1px solid #B5AB56;/*Cor, tipo e expessura da borda superior*/ 
   	padding-top: 5px;/*Distância do texto para a borda superior*/
   	padding-bottom: 5px; /*Distância do texto para a borda inferior*/
   	font-size: 0.7em;/*Tamanho da fonte do texto*/
   	color: #8B844B;/*Cor da fonte do texto*/ 
}
/*#menu-locais a {
	text-decoration: none;
}*/
#menu-locais .locais	{
	float: left;
	line-height: 2.1em;/*Centraliza o texto do menu*/
}
a {
	text-decoration: none;
}
a.reserva	{
	text-transform: uppercase;
	background: #A29750;
	color: #FFF5B0;
	padding: 5px 10px;
	float: right;
}
#menu {
	margin-top: 15px;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul#navegacao	{
	float: left;
}
ul#navegacao a{
	text-transform: uppercase;
	font-size: 0.8em;
	padding: 5px;
	color: #6E672C;
	line-height: 30px;
}
ul#navegacao a:hover	{
	background: #FDF6BE;
}
.depoimento	{
	width: 226px;
	height: 164;
	float: right;
}
#area-principal	{
	float: left;
	width: 50%;
	background: url(../img/bg-area-principal.png) top left repeat-x;
	padding: 15px 0px;
}
#area-lateral	{
	float: right;
	width: 50%;
	background: url(../img/bg-area-lateral.png) top left repeat-x;
	padding: 15px 0px;
}
.conteudo {
	margin: 0 auto;
	width: 90%;  
}
#rodape	{
	clear: both;
	padding: 16px;
	background: #FFF url(../img/bg-rodape.png) repeat-x top;
	color: #7D7640;
}
h2	{
	color: #7D7640;
	font-size: 1.1em;
	padding: 5px 0px;
}
p {
	font-size: 1em;
	margin-bottom: 10px;
}
#beneficios	li {
	padding: 8px;
	border-bottom: 1px solid #F3EFCB;
	height: 6em; /*97px*/
}
#beneficios li a img {
	float: left;
	margin-right: 8px;
}
#beneficios li a p {
	/*text-decoration: none;*/
	color: #000;
	font-size: 0.8em;
}
#beneficios li a h3	{
	font-size: 1.1em;
	color:#615B2D;
	padding: 5px 0;
	background: url(../img/ornamento.png) no-repeat center right;
}
#beneficios li:hover	{
	background: #F3F6DC;
	cursor: pointer;
}











